---
filename: /mnt/fio.out
size: 1g
runtime: 300

ioengine:
- sync
- psync
- vsync
- pvsync2
- io_uring
- libaio

rw:
- read
- write
- randread
- randwrite
- rw
- randrw

direct:
- 0
- 1

bs:
- 4k
- 128k
- 4m

iodepth:
- 1
- 16
